<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico" />

<title>Safe</title>

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
      th:href="@{/css/bootstrap.css}" />
</head>
<body>
	<div class="container mt-2">

		<a type="button" th:href="@{dashboard/(status=unlocked)}" class="btn btn-outline-danger">Unlock</a>

		<ul class="list-group mt-2">
			<li th:each="password : ${allPasswords}" class="list-group-item">
				<div class="row">
					<div class="col-6">
						<span th:text=${password.name}></span>
					</div>
					<div class="col-6">
						<span th:text=${password.password}></span>
					</div>

				</div>
			</li>
		</ul>
		<div class="input-group mb-3">
			<form class="input-group mt-3" th:action="@{/dashboard}" method="POST" th:object="${newPassword}">
				<input type="text" class="form-control" placeholder="Username" th:name="username" th:value="${newPassword.name}">
				<input type="password" class="form-control" placeholder="Password" th:name="password" th:value="${newPassword.password}">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="Submit" >Add Password</button>
				</div>
			</form>
		</div>
	</div>
	<!-- /container -->
	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>